AddType application/javascript .js
AddType application/javascript .mjs
AddType application/javascript .ts
AddType application/javascript .tsx

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule> 